numpy>=1.26.0
pandas>=2.2.0
PySide6>=6.6.0
scipy>=1.12.0
openpyxl>=3.1.0
pytest>=8.1.0
PyYAML>=6.0.0
prince~=0.15.0
dash~=2.18.2
plotly~=5.24.1
matplotlib~=3.9.2
seaborn~=0.13.2
ipywidgets~=8.1.5
ipython~=8.28.0
python-dateutil~=2.9.0.post0
tabulate~=0.9.0
scikit-learn~=1.6.1
